body {
  font-family: 'Nunito Sans', sans-serif !important;
  background-color: rgb(252, 237, 237) !important;
}

.bg-custom-dark-blue {
  background-color: #0E1E32 !important;
}

.custom-class {
  background-color: #0E1E32  !important;

}

.custom-class-x {
  display: flex !important;
  flex-direction: row !important;
}

.custom-class-home,
.custom-class-detail {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  padding-bottom: 2%;
}


.nav-link:hover {
  color: wheat !important;
}

.nav-link {
  font-weight: bold !important;
}
.description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px; 
}